In [1]:
import pandas as pd
import numpy as np
import requests 
import json
apiKey='0ce9de199a3449a8a43b70421678e0ae'
base_url = 'https://api.geoapify.com/v1/geocode/search?'

In [3]:
city_housing_df = pd.read_csv('./Resources/housing_city.csv')

In [33]:
city_housing_df.dropna(inplace=True)
city_housing_df

               city     avg(price)
0              Moca  165802.083333
1             Camuy  140680.419580
2      Quebradillas  606887.323944
3          Toa Baja  164941.897233
4         Naranjito  118993.827160
...             ...            ...
5459    Fort Valley  206811.016949
5460     Rileyville  232601.886792
5461     Maurertown  425148.214286
5462  Mount Jackson  329016.000000
5463      Lost City   99750.000000

[5463 rows x 2 columns]

In [5]:
state_housing_df = pd.read_csv('./Resources/housing_state.csv')
state_housing_df

                   state    avg(price)
0          Massachusetts  9.706933e+05
1           Rhode Island  5.007029e+05
2               Virginia  7.927915e+05
3              Louisiana  8.750000e+05
4            Puerto Rico  4.371370e+05
5         Virgin Islands  7.951458e+05
6                Vermont  4.549601e+05
7               New York  9.340637e+05
8         South Carolina  1.895000e+04
9          West Virginia  2.729551e+05
10               Wyoming  5.350000e+05
11                 Maine  4.200100e+05
12          Pennsylvania  3.255649e+05
13              Delaware  4.026186e+05
14         New Hampshire  4.807679e+05
15            New Jersey  6.103760e+05
16             Tennessee  3.490000e+04
17           Connecticut  5.988119e+05
18               Georgia  4.927036e+05
19              Maryland  4.934945e+05
20                  Ohio  1.555668e+05
21              Missouri  1.399000e+05
22              Colorado  1.094132e+05
23  District of Columbia  8.981354e+05
24            California  4.721058e+08

In [8]:
combined_df = state_housing_df.copy()

lat = []
lon = []
for state in combined_df['state']:
    url = base_url+'text='+state+'&lang=en&limit=10&type=state&filter=countrycode:us&&format=json&apiKey='+apiKey
    response = requests.get(url).json()
    lat.append(response['results'][0]['lat'])
    lon.append(response['results'][0]['lon'])
combined_df['lat'] = lat 
combined_df['lon'] = lon  
combined_df.to_csv("location_housing_state.csv",index=False)
combined_df

                   state    avg(price)        lat         lon
0          Massachusetts  9.706933e+05  42.378877  -72.032366
1           Rhode Island  5.007029e+05  41.796241  -71.599237
2               Virginia  7.927915e+05  37.123224  -78.492772
3              Louisiana  8.750000e+05  30.870388  -92.007126
4            Puerto Rico  4.371370e+05  18.224771  -66.485829
5         Virgin Islands  7.951458e+05  17.789187  -64.708057
6                Vermont  4.549601e+05  44.599072  -72.500261
7               New York  9.340637e+05  43.156168  -75.844995
8         South Carolina  1.895000e+04  33.687439  -80.436374
9          West Virginia  2.729551e+05  38.475841  -80.840841
10               Wyoming  5.350000e+05  43.170026 -107.568534
11                 Maine  4.200100e+05  45.709097  -68.859020
12          Pennsylvania  3.255649e+05  40.969989  -77.727883
13              Delaware  4.026186e+05  38.692045  -75.401331
14         New Hampshire  4.807679e+05  43.484913  -71.655399
15            New Jersey  6.103760e+05  40.075738  -74.404162
16             Tennessee  3.490000e+04  35.773008  -86.282008
17           Connecticut  5.988119e+05  41.650020  -72.734216
18               Georgia  4.927036e+05  32.329381  -83.113737
19              Maryland  4.934945e+05  39.516240  -76.938207
20                  Ohio  1.555668e+05  40.225357  -82.688140
21              Missouri  1.399000e+05  38.760481  -92.561787
22              Colorado  1.094132e+05  38.725178 -105.607716
23  District of Columbia  8.981354e+05  38.893847  -76.988043
24            California  4.721058e+08  36.701463 -118.755997

In [37]:
combined_df2 = city_housing_df.copy()

missing = []

lat = []
lon = []
for city in combined_df2['city']:
    url = base_url+'text='+city+'&lang=en&limit=10&type=city&filter=countrycode:us&&format=json&apiKey='+apiKey
    response = requests.get(url).json()
    if response['results']:
        lat.append(response['results'][0]['lat'])
        lon.append(response['results'][0]['lon'])
    else:
        missing.append('city')  
        lat.append(np.nan)
        lon.append(np.nan)
        
combined_df2['lat'] = lat 
combined_df2['lon'] = lon  
combined_df2.to_csv("location_housing_city.csv",index=False)
combined_df2

In [35]:
def contains_non_string(lst):
    for item in lst:
        if not isinstance(item, str):
            print(item)
    return False

In [36]:
contains_non_string(list(city_housing_df['city']))

False

In [3]:
location_housing_state_df = pd.read_csv('location_housing_state.csv')
location_housing_state_df

                   state         price        lat         lon
0               Colorado  4.899000e+05  38.725178 -105.607716
1            Connecticut  5.723173e+05  41.650020  -72.734216
2               Delaware  3.920240e+05  38.692045  -75.401331
3   District of Columbia  1.254047e+06  38.893847  -76.988043
4                  Maine  4.941887e+05  45.709097  -68.859020
5               Maryland  5.350847e+05  39.516240  -76.938207
6          Massachusetts  9.448013e+05  42.378877  -72.032366
7          New Hampshire  5.882496e+05  43.484913  -71.655399
8             New Jersey  6.268407e+05  40.075738  -74.404162
9               New York  6.917494e+05  43.156168  -75.844995
10                  Ohio  1.625305e+05  40.225357  -82.688140
11          Pennsylvania  3.169696e+05  40.969989  -77.727883
12           Puerto Rico  3.780371e+05  18.224771  -66.485829
13          Rhode Island  5.176530e+05  41.796241  -71.599237
14               Vermont  4.978884e+05  44.599072  -72.500261
15        Virgin Islands  1.424680e+06  17.789187  -64.708057
16              Virginia  9.099027e+05  37.123224  -78.492772
17         West Virginia  3.021689e+05  38.475841  -80.840841
18               Wyoming  5.350000e+05  43.170026 -107.568534

In [4]:
with open('us-states.json', 'r') as file:
    existing_data = json.load(file)

In [14]:
state= existing_data["features"][0]['properties']['name']

In [20]:

location_housing_state_df[location_housing_state_df['state']=='Virginia']['price'].values[0]

909902.732906198

In [23]:


# Modify the existing data by adding the "price" key to the properties dictionary for each feature
for feature in existing_data["features"]:
    state = feature['properties']['name']
    if state in location_housing_state_df['state'].values:
        feature["properties"]["price"] = location_housing_state_df[location_housing_state_df['state']==state]['price'].values[0]  # Set the price value here
    else:
        existing_data['features'].remove(feature)
       
    

# Write the modified data back to the JSON file
with open('us_state_prices.geojson', 'w') as file:
    json.dump(existing_data, file, indent=0)